@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 235, 235, 235;
  --background-start-rgb: 9, 14, 37;
  --background-end-rgb: 9, 14, 37;
}

body {
  color: #fff;
  background: #090E25;
  font-family: var(--font-bricolage), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #090E25;
}
::-webkit-scrollbar-thumb {
  background: #263A99;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1733C1;
}


.neo-card {
  background-color: #090E25; /* Match bg for cleaner look, or slightly lighter */
  border: 1px solid #1F2336;
  border-radius: 8px; /* Slightly more rounded like Aden */
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}
.neo-card:hover {
  border-color: #263A99;
  box-shadow: 0 0 15px rgba(38, 58, 153, 0.1);
}
